html{
    width: 100%;
    height: 100%;
    filter:invert(1) ;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: white;
}
img{
    filter: invert(1);
}

a {
  color: blue;
  filter: hue-rotate(180deg);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
