html {
	background: black;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	background: white;
	width: 100%;
	min-height: 100vh;
	height: auto;
}

a {
	color: blue;
	filter: hue-rotate(180deg);
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
#__next {
	height: 100%;
}
Link:hover,
a:hover {
	cursor: pointer;
}

.invert {
	filter: invert(1) hue-rotate(180deg);
}
.invert img {
	filter: invert(1) hue-rotate(180deg);
}
.item {
	align-items: center;
	text-align: center;
}
